.formulario p{
    text-align: center;
    
}

.opciones p{
    color: var(--grayscale-500, #767E94);

/* Body Medium/400 */
font-family: Nunito;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 150% */

}

#an1{
    color: var(--grayscale-900, #191F33);

/* Body Large/600 */
font-family: Nunito;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: 2rem; /* 160% */
}

.cabecera{
    width: 100%;
    display: inline-flex;
    
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: var(--Amarillo-titulo, #FCC204);
}
.cabTxt{
    display: block;
    text-align: center;
    color: var(--gray-scale-900, #191F33);
    text-align: center;
    
    /* Heading/01 */
    font-family: PT Sans Narrow;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; /* 120% */
}

.opciones{
   
    padding: 3rem;
    
    display: inline-block;
    width: 50%;
    height: 30%;
    
    justify-content: space-between;
    align-items: center;
    background: #FFF;
}

.formulario{
    padding: 2rem;
    background-color: aqua;
    
    display: inline-block;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.25rem;
    background: var(--grayscale-white, #FFF);
    box-shadow: 0px 24px 100px 0px rgba(0, 29, 73, 0.12);
}
.contenedor{
    display: flex;
    margin-top: 10rem;
    margin-bottom: 36.37rem;
    padding-left: 18.8rem; 
    padding-right: 18.8rem;
    height: 30%;
}

.name{
    
    border-radius: 0.3125rem;
    border: 1px solid var(--gray-scale-50, #EDEFF5);
    background: var(--gray-scale-white, #FFF);
    display: flex;
    width: 3.5rem;
    height: 1rem;
    padding: 0.75rem 7.25rem 0.75rem 1.125rem;
    align-items: center;
}

.name , .contraseña {
    border-radius: 0.3125rem;
    border: 1px solid var(--gray-scale-50, #EDEFF5);
    background: var(--gray-scale-white, #FFF);
    display: inline-block;
    width: 15rem;
    height: 1.5rem;
    padding: 0.25rem 5.25rem 0.25rem 1.125rem;
    align-items: center;
}

button{
    display: flex;
    width: 20.25rem;
    padding: 0rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    border-radius: 0.375rem;
    background: var(--color-titulo, #1AA3BF);
}

a{
    color: var(--naranja-titulo, #E95F15)
}

#titulo{
    color: var(--gray-scale-900, #191F33);
text-align: center;
/* Heading/01 */
font-family: PT Sans Narrow;
font-size: 2.5rem;
font-style: normal;
font-weight: 400;
line-height: 3rem; /* 120% */
}
.warnings{
    
    width: 200px;
    text-align: center;
    margin: auto;
    color: red;
    padding-top: 20px;
}