#logo {
	width: 220px;
}

#header-perfil img {
	height: 4em;
	border-radius: 100%;
}

/* NAVBAR */
#nav-links{
	text-align: center;
}

#nav-links ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

#nav-links li {
	padding: 12px 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav-links li a {
	text-decoration: none;
	color: #fff;
}

#li-inicio {
	width: 100%;
	background-color: #63b32eff;
} 

#li-perfil {
	width: 100%;
	background-color: #1AA3BF;
}

#li-crear {
	width: 100%;
	background-color: #FCC204;
}

#li-buscador {
	width: 100%;
	background-color: #ec612bff;
}

#buscador {
    position: relative;
}

#buscador input {
	/* padding-block: 10px; */
	padding-inline: 2rem 3rem;
	border: 2px solid black;
	border-radius: 15px;
}

#buscador button {
	background: none;
	border: none;
	cursor: pointer;
}

/* */


/* Media Query Tablet
  Formato Ipad Air 
  820*1080px*/

  @media only screen
and (min-width: 820px)
and (max-width: 1180px)
and (orientation: portrait)
{

}