/* importamos las fuente */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");

/* ---------------------------------- */
/* PROPIEDADES CUSTOM                 */
/* -----------------------------------*/
:root {
  /*------------COLORES --------------*/
  /* grises */
  --gris-900: #191f33;
  --gris-800: #2e3447;
  --gris-700: #464d61;
  --gris-600: #636a80;
  --gris-500: #767e94;
  --gris-400: #939aad;
  --gris-300: #aeb3c2;
  --gris-200: #c5c9d6;
  --gris-100: #dadde5;
  --gris-50: #e9eaf0;
  --gris-20: #f5f7fa;
  --blanco: #fff;
  /* azules */
  --azul-900: #023;
  --azul-800: #046;
  --azul-700: #069;
  --azul-600: #08c;
  --azul-500: #0af;
  --azul-400: #3bf;
  --azul-300: #6cf;
  --azul-200: #9df;
  --azul-100: #cef;
  --azul-50: #e8f7ff;
  /* verdes */
  --verde-900: #082700;
  --verde-800: #104e00;
  --verde-700: #177400;
  --verde-600: #1f9b00;
  --verde-500: #27c200;
  --verde-400: #52ce33;
  --verde-300: #7dda66;
  --verde-200: #a9e799;
  --verde-100: #d4f3cc;
  --verde-50: #e4f9e0;
  /* amarillos */
  --amarillo-900: #332600;
  --amarillo-800: #664c00;
  --amarillo-700: #997300;
  --amarillo-600: #c90;
  --amarillo-500: #ffbf00;
  --amarillo-400: #fc3;
  --amarillo-300: #ffd966;
  --amarillo-200: #ffe599;
  --amarillo-100: #fff2cc;
  --amarillo-50: #fff8e0;
  /* rojos */
  --rojo-900: #331010;
  --rojo-800: #662020;
  --rojo-700: #992f2f;
  --rojo-600: #cc3f3f;
  --rojo-500: #ff4f4f;
  --rojo-400: #ff7272;
  --rojo-300: #f99;
  --rojo-200: #ffb2b2;
  --rojo-100: #fcc;
  --rojo-50: #ffe5e5;

  /* font-family */
  --ff-nunito: "PT Sans Narrow";

  --shadow-hover: 0px 12px 40px 0px rgba(0, 34, 51, 0.5);
  --shadow-before: 0px 12px 40px 0px rgba(0, 34, 51, 0.07);

  --transition: all ease-in-out 0.2s;
}

/* ---------------------------------- */
/* RESET                              */
/* -----------------------------------*/

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 600;
}

/* set up the body */
body {
  font-family: var(--ff-nunito);
  font-size: var(0.875rem);
  background-color: var(--blanco);
  color: var(--gris-900);
  line-height: 1.25rem;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;

  object-fit: cover;
}

/* make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* ---------------------------------- */
/* UTILITY CLASSES                    */
/* -----------------------------------*/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  max-width: 80rem;
  margin-inline: auto;
}

/* colors */
.bg-gris {
  color: var(--gris-20);
}

.text-900 {
  color: var(--gris-900);
}

/* typography */

.uppercase {
  text-transform: uppercase;
}

/* fuentes */
.display-01 {
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.display-02 {
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 5.4rem */
}

.display-03 {
  /* Display/03 */
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 4.2rem */
}

.heading-01 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem; /* 120% */
}

.heading-02 {
  /* Heading/02 */
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem; /* 125% */
}

.heading-03 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 133.333% */
}

.button-text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem; /* 312.5% */
  text-transform: capitalize;
}

.caption-400 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 0.875rem */
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}

.caption-600 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 0.875rem */
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}

.body-xl {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem; /* 150% */
}

.body-large-400 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 160% */
}

.body-large-600 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}

.body-medium-400 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.body-medium-600 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
}

.body-small-400 {
  /* Body Smalls/400 */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.body-small-600 {
  /* Body Smalls/600 */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
}

.body-tiny-400 {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}

.body-small-600 {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
}

/* ---------------------------------- */

header {
  min-height: 100px;
  max-width: 100vw;
  background-color: var(--blanco);
  padding: 1rem 6rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* align-items: center; */
}

footer {
  min-height: 100px;
  background-color: var(--blanco);
  display: block;
  align-items: center;
}

#pagina-inicio {
  min-height: 100%;
  text-align: center;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.anuncio {
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  box-shadow: var(--shadow-before);
  transition: var(--transition);
  cursor: pointer;
}

.columnas-anuncios {
  margin: 80px 0;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.categoria-info {
  justify-content: flex-start;
  color: var(--gris-500);
  gap: 8px;
  align-items: center;
}

.anuncio-body {
  border-bottom: 2px solid #767e94;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 10px;
  overflow: hidden;
}

.anuncio-info {
  justify-content: space-between;
  padding: 16px 20px;
  align-items: center;
}

.anuncio-info i {
  color: var(--verde-500);
}

.anuncio-ubicacion {
  color: var(--gris-500);
}

.anuncio-info .fecha {
  color: var(--rojo-500);
}

.anuncio:hover {
  transform: scale(1.02);
  box-shadow: var(--shadow-hover);
}

.anuncio-lugar {
  justify-content: center;
  gap: 6px;
}

#home-hero {
  background-image: url("../img/fondo-inicio.png");
}

#home-hero .container {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#home-hero img {
  width: 250px;
}


.footer-container {
	max-width: 100%;
	padding-top: 2em;
	padding-right: 50px;
	padding-bottom: 2em;
	padding-left: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.row-footer{
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
}

.footer-col1 { 
	width: 25%;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

#inicio-link {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	text-decoration: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	align-items: flex-start;
	margin-bottom: 3em;
}

.footer-col2 {
	width: 25%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
}

.footer-col3 {
	width: 50%;
	flex-direction: column;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	text-align: justify;
	gap: 20px;
	justify-content: space-around;
}

.logos-arriba {
	width: 100%;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	text-align: justify;
}

.logos-abajo {
	width: 100%;
	flex-direction: row;
	display: flex;
	justify-content: space-around;
	text-align: justify;
}


#footer-logo {
	width: 40%;
}

#datos1{
	color: #229C69;
	font-weight: 800;
	font-size: 1em;
}

#datos2 {
	color: #FCC204;
	font-weight: 800;
	font-size: 1em;
	margin-bottom: 2em;
}

#datos3 {
	color: #1AA3BF;
	font-weight: 800;
	font-size: 1em;
}

#datos4 {
	color: #DA0067;
	font-weight: 800;
	font-size: 1em;
}

#datos5 {
	background-color: #191F33;
	color: #E20035;
	font-weight: 800;
	margin-top: 50px;
	font-size: 0.8em;
	padding: 0px 10px;
	margin-bottom: 10px;
}

#datos6 {
	background-color: black;
	color: #FCC204;
	font-weight: 800;
	font-size: 0.8em;
	padding: 0px 10px;
	margin-bottom: 10px;
}

#datos7 {
	background-color: black;
	color: #1AA3BF;
	font-weight: 800;
	font-size: 0.8em;
	padding: 0px 10px;
	margin-bottom: 10px;
}

#datos8 {
	background-color: #191F33;
	color: #229C69;
	font-weight: 800;
	font-size: 0.8em;
	padding: 0px 10px;
	margin-bottom: 10px;
}

#icon-insta {
	padding: 10px;
	border-radius: 100%;
	background-color: #DA0067;
	color: var(--blanco);
}

#icon-twitter {
	padding: 10px;
	border-radius: 100%;
	background-color: #1aa4c1;
	color: var(--blanco);
}

#icon-link {
	padding: 10px;
	border-radius: 100%;
	background-color: #004c95;
	color: var(--blanco);
}

#footer-img1 {
	height: 70px;
}

/* Estilos generales del footer */
footer {
  background-color: #333;
  color: var(--blanco);
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilos para las columnas del footer en pantallas grandes */
.footer-col1, .footer-col2, .footer-col3 {
  flex: 1;
  margin: 10px;
}

/* Estilos para las columnas del footer en pantallas pequeñas */
@media (max-width: 768px) {
  .footer-col1, .footer-col2, .footer-col3 {
    flex: 1 1 100%;
    text-align: center;
  }
}


.input-group-text {
  background-color: #FCC204;
}

/* .btn {
  background-color: #E95F15;
} */

.rojo {
  border-color: red;
}

.azul {
  border-color: blue;
}

.verde {
  border-color: green;
}

input:focus {
  outline: none;
}