/* importamos las fuente */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");

/* ---------------------------------- */
/* PROPIEDADES CUSTOM                 */
/* -----------------------------------*/
:root {
  /*------------COLORES --------------*/
  /* grises */
  --gris-900: #191f33;
  --gris-800: #2e3447;
  --gris-700: #464d61;
  --gris-600: #636a80;
  --gris-500: #767e94;
  --gris-400: #939aad;
  --gris-300: #aeb3c2;
  --gris-200: #c5c9d6;
  --gris-100: #dadde5;
  --gris-50: #e9eaf0;
  --gris-20: #f5f7fa;
  --blanco: #fff;
  /* azules */
  --azul-900: #023;
  --azul-800: #046;
  --azul-700: #069;
  --azul-600: #08c;
  --azul-500: #0af;
  --azul-400: #3bf;
  --azul-300: #6cf;
  --azul-200: #9df;
  --azul-100: #cef;
  --azul-50: #e8f7ff;
  /* verdes */
  --verde-900: #082700;
  --verde-800: #104e00;
  --verde-700: #177400;
  --verde-600: #1f9b00;
  --verde-500: #27c200;
  --verde-400: #52ce33;
  --verde-300: #7dda66;
  --verde-200: #a9e799;
  --verde-100: #d4f3cc;
  --verde-50: #e4f9e0;
  /* amarillos */
  --amarillo-900: #332600;
  --amarillo-800: #664c00;
  --amarillo-700: #997300;
  --amarillo-600: #c90;
  --amarillo-500: #ffbf00;
  --amarillo-400: #fc3;
  --amarillo-300: #ffd966;
  --amarillo-200: #ffe599;
  --amarillo-100: #fff2cc;
  --amarillo-50: #fff8e0;
  /* rojos */
  --rojo-900: #331010;
  --rojo-800: #662020;
  --rojo-700: #992f2f;
  --rojo-600: #cc3f3f;
  --rojo-500: #ff4f4f;
  --rojo-400: #ff7272;
  --rojo-300: #f99;
  --rojo-200: #ffb2b2;
  --rojo-100: #fcc;
  --rojo-50: #ffe5e5;

  /* colores txurdinaga */
  --tx-azul: #1aa3bf;
  --tx-verde-oscuro: #229c69;
  --tx-verde-claro: #57aa26;
  --tx-amarillo: #d6d700;
  --tx-amarillo-oscuro: #fcc204;
  --tx-naranja: #e95f15;
  --tx-rojo: #e20035;
  --tx-rosa: #e6007c;
  --tx-morado: #ba007b;
  --tx-morado-oscuro: #5c2684;

  /* font-family */
  --ff-nunito: "Nunito Sans", sans-serif;

  --shadow-hover: 0px 12px 40px 0px rgba(0, 34, 51, 0.5);
  --shadow-before: 0px 12px 40px 0px rgba(0, 34, 51, 0.07);

  --transition: all ease-in-out 0.2s;
}

.d-flex {
  display: flex;
}

.flex-center {
  text-align: center;
  justify-content: center;
}

/* ---------------------------------- */
/* RESET                              */
/* -----------------------------------*/

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture,
li {
  margin: 0;
  padding: 0;
}

/* set up the body */
body {
  font-family: var(--ff-nunito);
  font-size: var(0.875rem);
  background-color: var(--blanco);
  color: var(--gris-900);
  line-height: 1.25rem;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  object-fit: cover;
}

/* make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* ---------------------------------- */
/* UTILITY CLASSES                    */
/* -----------------------------------*/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  max-width: 85rem;
  margin-inline: auto;
}

/* colors */
.bg-gris {
  color: var(--gris-20);
}

.text-900 {
  color: var(--gris-900);
}

/* typography */

.uppercase {
  text-transform: uppercase;
}

/* fuentes */
.display-01 {
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.display-02 {
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 5.4rem */
}

.display-03 {
  /* Display/03 */
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 4.2rem */
}

.heading-01 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem; /* 120% */
}

.heading-02 {
  /* Heading/02 */
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem; /* 125% */
}

.heading-03 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 133.333% */
}

.button-text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem; /* 312.5% */
  text-transform: capitalize;
}

.caption-400 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 0.875rem */
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}

.caption-600 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 0.875rem */
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}

.body-xl {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem; /* 150% */
}

.body-large-400 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 160% */
}

.body-large-600 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}

.body-medium-400 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.body-medium-600 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
}

.body-small-400 {
  /* Body Smalls/400 */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.body-small-600 {
  /* Body Smalls/600 */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
}

.body-tiny-400 {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}

.body-small-600 {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
}

input,
select,
checkbox {
  padding: 7px;
  border-radius: 6px;
  font-size: 16px;
  background: #fbfbfb;
  border: 2px solid transparent;
  height: 36px;
  box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%),
    0 1px 1.5px 0 rgb(0 0 0 / 5%);
  :focus {
    border: 2px solid #000;
    border-radius: 4px;
  }
}

/* ---------------------------------- */

header {
  min-height: 100px;
  max-width: 100vw;
  background-color: #fff;
  padding: 1rem 6rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  /* align-items: center; */
}

.header-perfil {
  float: left;
  overflow: hidden;
}

.header-perfil .btn-dropdown {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.header-perfil:hover .btn-dropdown {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.header-perfil:hover .dropdown-content {
  display: block;
}

#pagina-inicio {
  min-height: 100%;
  text-align: center;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.anuncio {
  border-radius: 8px;
  overflow: hidden;
  width: 400px;
  height: 450px;
  box-shadow: var(--shadow-before);
  transition: var(--transition);
  cursor: pointer;
}

.anuncio img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.columnas-anuncios {
  margin: 80px 0;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.categoria-info {
  justify-content: flex-start;
  color: var(--gris-500);
  gap: 8px;
  align-items: center;
}

.anuncio-body {
  border-bottom: 2px solid #767e94;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 10px;
  overflow: hidden;
}

.anuncio-info {
  justify-content: space-between;
  padding: 16px 20px;
  align-items: center;
}

.anuncio-info i {
  color: var(--verde-500);
}

.anuncio-ubicacion {
  color: var(--gris-500);
}

.anuncio-info .fecha {
  color: var(--rojo-500);
}

.anuncio:hover {
  transform: scale(1.02);
  box-shadow: var(--shadow-hover);
}

.anuncio-lugar {
  justify-content: center;
  gap: 6px;
}

#home-hero {
  padding: 1.5rem 0;
  background-image: url("../img/fondo-inicio.png");
}

#home-hero .container {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#home-hero img {
  width: 250px;
}

.FieldInfo {
  /* color: #f3b82a; */
  font-size: 1.2em;
}

.bloque-comentario {
  background-color: #f6f7f9;
  padding: 0.8rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 8px;
}

/* ---------------------------------- */
/* ESTILOS FOOTER                   */
/* -----------------------------------*/
.footer-container {
  max-width: 100%;
  padding-top: 2em;
  padding-right: 50px;
  padding-bottom: 2em;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5rem;
}
.row-footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-col1 {
  width: 25%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

#inicio-link {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  margin-bottom: 3em;
}

.footer-col2 {
  width: 25%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}

.footer-col3 {
  width: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: justify;
  gap: 20px;
  justify-content: space-around;
}

.logos-arriba {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.logos-abajo {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  text-align: justify;
}

#footer-logo {
  width: 40%;
}

#datos1 {
  color: #229c69;
  font-weight: 800;
  font-size: 1em;
}

#datos2 {
  color: #fcc204;
  font-weight: 800;
  font-size: 1em;
  margin-bottom: 2em;
}

#datos3 {
  color: #1aa3bf;
  font-weight: 800;
  font-size: 1em;
}

#datos4 {
  color: #da0067;
  font-weight: 800;
  font-size: 1em;
}

#datos5 {
  background-color: #191f33;
  color: #e20035;
  font-weight: 800;
  margin-top: 50px;
  font-size: 0.8em;
  padding: 0px 10px;
  margin-bottom: 10px;
}

#datos6 {
  background-color: black;
  color: #fcc204;
  font-weight: 800;
  font-size: 0.8em;
  padding: 0px 10px;
  margin-bottom: 10px;
}

#datos7 {
  background-color: black;
  color: #1aa3bf;
  font-weight: 800;
  font-size: 0.8em;
  padding: 0px 10px;
  margin-bottom: 10px;
}

#datos8 {
  background-color: #191f33;
  color: #229c69;
  font-weight: 800;
  font-size: 0.8em;
  padding: 0px 10px;
  margin-bottom: 10px;
}

#icon-insta {
  padding: 10px;
  border-radius: 100%;
  background-color: #da0067;
  color: white;
}

#icon-twitter {
  padding: 10px;
  border-radius: 100%;
  background-color: #1aa4c1;
  color: white;
}

#icon-link {
  padding: 10px;
  border-radius: 100%;
  background-color: #004c95;
  color: white;
}

#footer-img1 {
  height: 70px;
}

/* bootstrap overwrite */
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0rem;
  padding-left: 0rem;
}

.input-group-text {
  background-color: #FCC204;
}

.btn-send-data {
  display: block;
  margin: 2;
  background-color: #E95F15;
}

.rojo {
  border-color: var(--rojo-500);
}

.azul {
  border-color: var(--azul-500);
}

.verde {
  border-color: var(--verde-500);
}
.w-50 {
  width: 50%;
}

/* anuncios inicio */

.header-section {
  padding: 1.2rem 0;
}

.botones-header {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.titulo-header {
  margin-bottom: 2rem;
}

/* BOTONES */
.boton {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 0.14s ease-out;
  white-space: nowrap;
}

.boton:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
}
.boton:focus-visible {
  outline-offset: 1px;
}

.tx-rojo {
  background-color: var(--tx-rojo);
}

.tx-azul {
  background-color: var(--tx-azul);
}

.tx-verde-oscuro {
  background-color: var(--tx-verde-oscuro);
}

.tx-verde-claro {
  background-color: var(--tx-verde-claro);
}

.tx-amarillo {
  background-color: var(--tx-amarillo);
}

.tx-amarillo-oscuro {
  background-color: var(--tx-amarillo-oscuro);
}

.tx-naranja {
  background-color: var(--tx-naranja);
}

.tx-rosa {
  background-color: var(--tx-rosa);
}

.tx-morado {
  background-color: var(--tx-morado);
}

.tx-morado-oscuro {
  background-color: var(--tx-morado-oscuro);
}

.w-100 {
  width: 100%;
}

/* css para las tablas */
td img {
  width: 10rem;
  height: 5rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
  vertical-align: middle;
}

main.table {
  width: 100%;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem, #0005;
  border-radius: 0.8rem;
  overflow: hidden;
  padding-bottom: 3rem;
  background: var(--gris-100);
}

table,
th,
td {
  padding: 1rem;
  border-collapse: collapse;
}

.table__header {
  width: 100%;
  height: 6rem;
  background-color: #fff4;
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header .input-group {
  width: 35%;
  height: 50%;
  background-color: #fff8;
  padding: 0.8rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.table__header .input-group input {
  width: 100%;
  padding: 0 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.table__header .input-group:hover {
  width: 45%;
  background-color: #fff7;
  box-shadow: 0 0.1rem 0.4rem #0002;
}

.table__body {
  width: 95%;
  max-height: 80%;
  background-color: #fffb;
  margin: 3rem auto;
  border-radius: 0.6rem;
  overflow: auto;
}

.table__body::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}
.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
}

.table-center {
  text-align: center;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #d5d1defe;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr:hover {
  background-color: #fffb;
}

.badge {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  text-align: center;
}

.verde {
  background-color: #86e49d;
  color: #006b21;
}

.rojo {
  background-color: #d893a3;
  color: #b30021;
}

.amarillo {
  background-color: #ebc474;
}

.azul {
  background-color: #6fcaea;
  color: #004b7a;
}

.fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

tbody tr.hidden {
  opacity: 0;
  transform: translateX(100%);
}

.alert {
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin: 1rem 0;
}

.mt-bg {
  margin-top: 3rem;
}

.mb-bg {
  margin-bottom: 3rem;
}

.gap-tb {
  gap: 0.5rem;
}
