#logo {
	width: 220px;
}

#header-perfil img {
	height: 5em;
	border-radius: 100%;
}

/* NAVBAR */
#nav-links{
	text-align: center;
}

#nav-links ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

#nav-links li {
	padding: 8px 12px 8px 12px;
}

#nav-links li a {
	text-decoration: none;
	color: #fff;
}

#li-inicio {
	width: 100%;
	background-color: #63b32eff;
} 

#li-perfil {
	width: 100%;
	background-color: #1AA3BF;
}

#li-crear {
	width: 100%;
	background-color: #FCC204;
}

#li-buscador {
	width: 100%;
	background-color: #ec612bff;
}

#buscador {
    position: relative;
}

#buscador input {
	/* padding-block: 10px; */
	padding-inline: 2rem 3rem;
	border: 2px solid black;
	border-radius: 15px;
}

#buscador button {
	background: none;
	border: none;
	cursor: pointer;
}

/* */

