:root {
    --shadow-hover: 0px 12px 40px 0px rgba(0, 34, 51, 0.5);
    --shadow-before: 0px 12px 40px 0px rgba(0, 34, 51, 0.07);
    
    --transition: all ease-in-out 0.2s;
}

/* Estilo del fieldset de los formularios */
fieldset {
    background-color: white;
}

/* Estilo de Tablas de Mis Anuncios y Perfil Administrador */
table {
    padding-top: 40px;
    display: inline-block;
    justify-content: center;
}
th, td {
    border: 1px solid orange;
}
th {
    background-color: orange;
    color: white;
    height: 30px;
}

/* EDITAR USUARIOS */
.header-1 {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #E20035;
}

.titulo {
    color: white;
    font-size: 20px;
    text-align: center;
}

.main-1 {
    text-align: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(200, 200, 220);
}

.form-1 {
    text-align: center;
    display: inline-block;
    width: 30%;
}

.img-perfil {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

/* Tamaño de Campos de texto */
#grado,
#nombre,
#tele,
#email {
    width: 300px;
}

/* Botones */
#perbtn {
    height: 30px;
    background-color: rgb(216, 233, 246);
    color: rgb(0, 145, 234);
}
#savebtn {
    height: 30px;
    background-color: dodgerblue;
    color: white;
}

/* PERFIL ADMINISTRADOR */
.header-2 {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #D6D700;
}
.main-2 {
    text-align: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(200, 200, 220);
}
.buscador {
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    gap: 10%;
}
.anu {
    width: 250px;
}
.fec {
    width: 150px;
}
.est {
    width: 150px;
}
.acc {
    width: 150px;
}

/* CREAR ANUNCIO */
.header-3 {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #BA007B;
}
.main-3 {
    text-align: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(200, 200, 220);
}
.form-3 {
    display: inline-block;
    text-align: left;
    width: 50%;
}
.img-start {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.categ-box {
    float: left;
    margin-right: 20px;
}
.anun-button {
    text-align: right;
}
.img-end {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

/* Tamaño de Campos de texto */
#categ,
#sub-categ {
    width: 200px;
}
#nombre-anun {
    width: 400px;
}

/* Botones */
#cancel {
    height: 50px;
    width: 100px;
    background-color: white;
    color: black;
}
#public {
    height: 50px;
    width: 100px;
    background-color: orange;
    color: white;
}

/* ANUNCIO PENDIENTE */
.header-4 {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #BA007B;
}
.main-4 {
    text-align: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(200, 200, 220);
}
.form-4 {
    display: inline-block;
    width: 50%;
}
.img-check {
    width: 150px;
    height: 150px;
}
#ver-anun {
    height: 50px;
    width: 100px;
    background-color: rgb(20, 170, 20);
    color: white;
}

/* MIS ANUNCIOS */
.header-5 {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #229C69;
}
.main-5 {
    text-align: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(200, 200, 220);
}
.buscador {
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    gap: 10%;
}
.anu {
    width: 250px;
}
.fec {
    width: 150px;
}
.est {
    width: 150px;
}
.acc {
    width: 150px;
}

/* ANUNCIOS */
.header-6 {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #E95F15;
}
.main-6 {
    text-align: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(200, 200, 220);
}
.flex {
    display: flex;
}
/* Info */
.columna-info {
    margin: 80px 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
.anun-info-text h1,p {
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
    
}
.publicados {
    gap: 40px;
    padding: 20px;
    background-color: #27c200;
    border-radius: 8px;
    overflow: hidden;
}
.pendientes {
    gap: 40px;
    padding: 20px;
    background-color: #ff4f4f;
    border-radius: 8px;
    overflow: hidden;
}
.img-info {
    border-radius: 8px;
    width: 80px;
    height: 80px;
}

/* Anuncios */
.columnas-anuncios {
    margin: 80px 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
.anuncio {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: var(--shadow-before);
    transition: var(--transition);
    cursor: pointer;
}
.categoria-info {
    justify-content: flex-start;
    color: #767e94;
    gap: 8px;
    align-items: center;
}
.anuncio-body {
    border-bottom: 2px solid #767e94;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    overflow: hidden;
}

.anuncio-info {
  justify-content: space-between;
  padding: 16px 20px;
  align-items: center;
}

.anuncio-info i {
  color: #27c200;
}

.anuncio-ubicacion {
  color: #767e94;
}

.anuncio-info .fecha {
  color: #ff4f4f;
}

.anuncio:hover {
  transform: scale(1.02);
  box-shadow: var(--shadow-hover);
}

.anuncio-lugar {
  justify-content: center;
  gap: 6px;
}
.img-anun {
    max-width: 100%;
    object-fit: cover;
}

/* FOOTER */
footer {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: lightgreen;
}